/**********************************
              GENERAL
**********************************/
a, h1, h2, h3, nav, #container, p, footer, #alarm, header
{
  text-decoration: none;
  text-align: center;
  margin: 0;
  font-family: 'Karla';
  font-size: 1.2em;
  list-style: none;
}

/**********************************
              HEADERS
**********************************/
h1
{
  font-family: 'Lobster';
  font-size: 4em;
  color: #cb2c31;
  background-color: #85bdde;
}

h2
{
  color: #008080;
  background-color: #85bdde;
  padding-bottom: 10px;
}

h3
{
  font-size: 1.5em;
  color: black;
}

a
{
  color: #008080;
}

a:hover
{
  color: #d06014;
}


/**********************************
            NAVIGATION
**********************************/
nav a
{
  padding: 15px, 10px;
}

nav
{
  font-size: 1.5em;
  font-family: 'Karla';
  background-color: #eeeeee;
}

nav ul
{
  list-style: none;
}

nav ul li
{
  color: #008080;
  display: inline-block;
  margin: 5px;
}

/**********************************
            CONTAINERS
**********************************/
#container
{
  max-width: 100%;
  margin: 0;
  background-color: #eeeeee;
}

#alarm
{
  padding: 2.5%;
  background-color: #eeeeee;
}

#alarm ul li
{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 45%;
  margin: 2.5%;
}

#alarm p
{  
  padding: 5%;
  font-size: 0.8em;
  background-color: #eeeeee;
  text-align: center;
  color: black;
}

#slideshow
{
  margin: 0 auto;
  cursor: pointer;
}

/**********************************
            SECTIONS
**********************************/
section
{
  font-size: 0.75em;
}

section ul li
{
  list-style: none;
  text-align: center;
  font-size: 1.5em;
  margin: 5px;
  padding-top: 5px;
}

/**********************************
              IMAGES
**********************************/
#alarm img
{
  max-width: 100%;
  float: center;
  padding: 2.5%;
}

/**********************************
            FOOTER
**********************************/
footer
{
  clear: both;
  padding-top: 50px;
  font-size: 0.75em;
  color: #008080;
}